#contact {
  background-image: url('../images/background.png');
  position: relative;
  padding-top: 150px;
}

.mobile-top {
  position: absolute;
  top: 0;
  left: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-heading {
  font-size: 50px;
  font-family: 'Playfair Display', 'Times New Roman', Times, serif;
  font-weight: 400;
  width: 90vw;
  max-width: 288px;
}

.form-text {
  width: 90vw;
  max-width: 288px;
  font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 50px 0;
}

.form-label,
.text-area {
  font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.input-div {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid lightgray;
  padding: 10px;
  width: 90vw;
  max-width: 288px;
  margin-bottom: 20px;
}

.form-label {
  font-size: 10px;
  color: gray;
}

.input-box {
  border: none;
  font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 100%;
  color: gray;
}

.input-box:focus {
  outline: none;
}

.text-area {
  color: gray;
  border: 1px solid lightgray;
  border-radius: 0;
  width: 90vw;
  resize: vertical;
  max-width: 288px;
  min-height: 100px;
  padding: 10px;
  margin-bottom: 20px;
}

.text-area:focus {
  outline: none;
}

.submit-button {
  background-color: #1a2236;
  border: none;
  color: white;
  font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding: 10px;
  width: 90vw;
  max-width: 288px;
  margin-bottom: 75px;
}

.contact-top-left,
.contact-bottom-right {
  display: none;
}
