#contact {
  background-image: url('../images/background.png');
  position: relative;
  padding-top: 150px;
}

.mobile-top {
  position: absolute;
  top: 0;
  left: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-heading {
  font-size: 45px;
  font-family: 'Playfair Display', 'Times New Roman', Times, serif;
  font-weight: 500;
  width: 90vw;
  max-width: 288px;
}

.form-text {
  width: 90vw;
  max-width: 288px;
  font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 50px 0;
}

.form-label,
.text-area {
  font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.contact-top-left,
.contact-bottom-right {
  display: none;
}
