footer {
  background-color: #1a2236;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

.resume {
  font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: 175px;
  background-color: #1a2236;
  color: #92dcdc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
}

.resume-icon {
  width: 25px;
}

.socials {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  max-width: 288px;
}

.hidden-link {
  text-decoration: none;
}

@media screen and (min-width: 992px) {
  footer {
    flex-direction: row;
    height: auto;
    padding: 20px;
  }
}
