h1 {
  font-size: 90px;
  font-family: 'Playfair Display', 'Times New Roman', Times, serif;
  font-weight: normal;
  width: 70%;
  margin: 70px;
}

.homepage-section {
  display: flex;
  margin-bottom: 100px;
}

.homepage-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header-paragraph {
  width: 70%;
  font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.button-div {
  width: 70%;
}

.collaboration {
  border: none;
  background-color: #1a2236;
  color: white;
  font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-top: 70px;
  font-size: 18px;
  padding: 10px 50px;
}

.homepage-dots {
  position: absolute;
  bottom: 0;
  right: 0;
}

.mobile-banner {
  display: none;
}

.desktop-banner {
  width: 50vw;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 50px;
    margin: 30px;
  }

  .homepage-section {
    flex-direction: column;
    align-items: center;
  }

  .collaboration {
    margin-top: 50px;

  }
  .homepage-dots {
    display: none;
  }

  .mobile-banner {
    display: block;
    width: 100vw;
    margin-top: 30px;
  }

  .desktop-banner {
    display: none;
  }

  .collaboration {
    font-size: 15px;
    width: 100%;
    margin-bottom: 50px;
  }
}
