* {
  margin: 0;
}

.project-image {
  width: 100%;
  height: auto;
  display: block;
}

.projects-heading {
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
  font-size: 50px;
  padding: 30px;
  padding-bottom: 20px;
}

.project-info {
  background-color: #1a2236;
  padding: 0 20px;
}

.project-title {
  color: white;
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-weight: 600;
  font-size: 30px;
  margin: 0;
}

.project-technologies {
  list-style: none;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
}

.project-technology {
  background-color: #98dede;
  padding: 5px;
  margin: 5px;
}

@media  screen and (min-width: 992px) {

}