* {
  margin: 0;
}

.project-image {
  width: 100%;
  height: auto;
  display: block;
}

.projects-heading {
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
  font-size: 50px;
  padding: 30px;
  padding-bottom: 20px;
}

.project-info {
  background-color: #1a2236;
  padding: 5px 40px 20px;
}

.project-title {
  color: white;
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 25px;
  margin: 0;
}

.project-technologies {
  list-style: none;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

.project-technology {
  background-color: #98dede;
  padding: 5px 10px;
  margin: 0 10px 0 0;
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-size: 12px;
}

.see-project {
  border: 2px solid white;
  padding: 10px 20px;
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: 500;
  background-color: #1a2236;
  color: white;
  transition-property: background-color, color;
  transition-duration: 2s, 2s;
}

.see-project:hover {
  background-color: white;
  color: #1a2236;
}

@media  screen and (min-width: 992px) {
  #projects-section {
    display: grid;
    grid-template-columns: repeat(18, 5.5555%);
  }
}