.hide-project {
  display: none;
}

.project-popup {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  padding-top: 50px;
  overflow-y: scroll;
  box-sizing: border-box;
}

.close-popup {
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border: none;
  background: none;
}

.close-popup-image {
  width: 40px;
}

.popup-title {
  font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: 700;
  margin: 10px 5vw;
}

.popup-technologies {
  list-style: none;
  padding: 0;
  display: flex;
  width: 90%;
  margin: 10px 5vw;
}

.popup-technology {
  font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
  border: 2px solid #7d7c84;
  color: #7d7c84;
  padding: 5px;
  margin: 0 10px 0 0;
}

.popup-screenshot {
  width: 90%;
  margin: 10px 5vw;
  border: 1px solid #1a2236;
}

.popup-description {
  font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 10px 5vw;
  min-height: 120px;
  margin-bottom: 30px;
}

.button-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-github-button {
  border: 2px solid #1a2236;
  color: #1a2236;
  background: white;
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  width: 250px;
  padding: 5px;
  margin-bottom: 20px;
}

.popup-github-logo {
  width: 25px;
  position: absolute;
  right: 5px;
}

.previous-next {
  display: none;
}

@media screen and (min-width: 992px) {
  .project-popup {
    border: 50px solid #1a2236;
    overflow-x: hidden;
  }

  .close-popup {
    top: 60px;
    right: 60px;
  }

  .popup-title {
    font-size: 50px;
  }

  .popup-description {
    width: 50%;
    margin: 10px 25%;
  }

  .button-center {
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    margin: 10px 25%;
  }

  .popup-github-button {
    margin: 0;
  }

  .previous-next {
    display: flex;
    width: 50%;
    margin: 20px 25% 40px;
    justify-content: space-between;
  }

  .previous-button,
  .next-button {
    border: none;
    background: none;
  }
}
